<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>NutriStarter</title>
</head>

<body>
	<md-content ng-cloak ui-view layout="column" layout-fill layout-align="center center"></md-content>

	<% if (htmlWebpackPlugin.options.platform == 'cordova' || htmlWebpackPlugin.options.platform == 'ios' || htmlWebpackPlugin.options.platform == 'android') { %>
		<script type="text/javascript" src="cordova.js"></script>
	<% } %>
</body>

</html>